@import '../../style/variables/variables.scss';
@import '../../style/mixin/mixin.scss';

.toolbar {
	width: 150px;
	height: 100%;
	position: absolute;	
	text-align: center;
	// background:rgb(160, 222, 170);
	background: -webkit-linear-gradient(rgb(112, 73, 255), rgb(92, 52, 194));
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
	font-family: $secondaryFont;
	font-size: $subHeadings;

	
}

 /*UserInfoSection*/ 
.userInfo {
	padding: 20px 0 10px;
	height: 120px;

}

.editName {
	height: 35px;
	padding-top: 5px;
}
.editName > input {
	border-radius: 3px;
    border: none;
	outline-color: rgb(239, 146, 208);
	height: 20px;
	font-family: $secondaryFont;
	font-size: $para;
}

p {
	background: linear-gradient(rgb(255, 230, 1), rgb(0, 255, 51));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	height: 40px;	
}

 .labels {
	display: inline-block;
	padding: 5px;
	font-family: $primaryFont;
	background: linear-gradient(rgb(255, 230, 1), rgb(0, 255, 51));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: $headings	
}


.usersWhoJoin{
	height: 120px;
	margin: 8px;
	width: 110px;
}


 /*PickAColorSecton*/ 
 .colorContainer {
	background: linear-gradient(rgb(229, 95, 0), rgb(255, 230, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

//Keep
.colorPicker {
	border-radius: 5px;
	width: 100px;
	height: 45px;
	background-color: #00ff9d;
	border: none;
}


 /*StokeSlider*/ 
.sliderContainer {
	padding: 10px 0 20px;
}
.slider {
	-webkit-appearance: none;
	width: 75%;
	height: 5px;
	border-radius: 5px;
	background: rgb(0, 221, 255);
	outline: none;	
  }
.download {
	padding: 10px;
}
  
 /*Buttons*/ 
.Btn {
@include leaveExportBtn
}

.clear {
	@include clear;
}
