.container{
	background-color: white;
}
.toolbar {
	width: 150px;
	height: 100%;
	position: absolute;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background: -webkit-linear-gradient(rgb(101, 59, 255), rgb(87, 46, 190));
	display: flex;
	align-items: center;
	flex-direction: column;
}

 /*UserInfoSection*/ 
.userInfo {
	padding: 20px 0 10px;

}

.userInfo > label {
	font-size: 1.5rem;
}
label {
	background: linear-gradient(rgb(144, 53, 0), rgb(255, 77, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;

}
.userInfo > input {
	border: none;
	border-radius: 2px;
	height: 15px;
	width: 100px;
	outline: none;
	text-align: center;
}

.usersWhoJoin{
	font-size: 1.5rem;
	height: 100px;
	padding-top: 50px;
}

p {
	font-size: 1rem;
	background: linear-gradient(rgb(255, 230, 1), rgb(0, 255, 51));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

 /*PickAColorSecton*/ 
 .pickerInput {
	padding: 50px 10px 20px 14px;
	background: linear-gradient(rgb(229, 95, 0), rgb(255, 230, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

input[type="color"] {
	border-radius: 5px;
	width: 100px;
	height: 45px;
	background-color: #00ff9d;
	border: none;
	/* outline: none; */
}


 /*StokeSlider*/ 
.sliderContainer {
	padding: 10px 0 20px;
}
.sliderInput {
	-webkit-appearance: none;
	width: 75%;
	height: 5px;
	border-radius: 5px;
	background: rgb(0, 221, 255);
	outline: none;	
  }

  
 /*Buttons*/ 
.Btn {
	box-shadow:inset 0px 1px 0px 0px #c6374a;
	background:linear-gradient(to bottom, #f03535 5%, #ff599b 100%);
	background-color:#f03535;
	border-radius:6px;
	border:1px solid #f65a5a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:.85rem;
	font-weight:bold;
	padding:2px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3f4d3d;
	/* margin-bottom: 25px; */
}
.Btn:hover {
	background:linear-gradient(to bottom, #ff599b 5%, #f03535 100%);
	background-color:#ff599b;
}
.Btn:active {
	position:relative;
	top:1px;
}

.export {
	padding: 8px;
}