
.toolbar {
    /* background-color: rgb(113, 58, 222); */
	width: 200px;
	height: 100%;
	position: absolute;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	background: -webkit-linear-gradient(rgb(101, 59, 255), rgb(87, 46, 190));

}


 /*UserInfoSection*/ 
.userInfo {
	padding: 25px 10px 5px 14px;
	font-size: 1.5rem;
	line-height: 1.4;
}
label {
	background: linear-gradient(rgb(131, 255, 59), rgb(255, 77, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;

}
.userInfo > input {
	border: none;
	border-radius: 2px;
	height: 25px;
	width: 150px;
	outline: none;
	text-align: center;
}

.usersWhoJoin{
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
	background: linear-gradient(rgb(239, 0, 0), rgb(255, 115, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

 /*PickAColorSecton*/ 
 .pickerInput {
	padding: 25px 10px 20px 14px;
	background: linear-gradient(rgb(229, 95, 0), rgb(255, 230, 0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

input[type="color"] {
	border-radius: 5px;
	width: 110px;
	height: 50px;
	background-color: #00ff9d;
	border: none;
	outline: none;
}


 /*StokeSlider*/ 
.sliderContainer {
	padding: 10px 0 20px;
}
.sliderInput {
	-webkit-appearance: none;
	width: 85%;
	height: 8px;
	border-radius: 10px;
	background: rgb(95, 255, 2);
	outline: none;
	opacity: 0.8;
	transition: opacity .10s;
  }

  
 /*Buttons*/ 
.Btn {
	box-shadow:inset 0px 1px 0px 0px #c6374a;
	background:linear-gradient(to bottom, #f03535 5%, #ff599b 100%);
	background-color:#f03535;
	border-radius:6px;
	border:1px solid #f65a5a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Gloria Hallelujah', cursive;
	font-size:1.3rem;
	font-weight:bold;
	padding:5px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3f4d3d;
	margin-bottom: 25px;
}
.Btn:hover {
	background:linear-gradient(to bottom, #ff599b 5%, #f03535 100%);
	background-color:#ff599b;
}
.Btn:active {
	position:relative;
	top:1px;
}

/* .App {
	display: grid;
	grid-template-columns: repeat(3, 200px);

}        

.toolbar {
	grid-column: 1;
	width: 200px;
}
.canvasCont {
	grid-column: 2/4;
} */