
.room {
    width: 110px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.stroke {
    width: 10px;
    margin-right: 5px;
}

.userName {
    width:85px;
    text-align: left;
}